<h1>New User</h1>

<%= form_with model: @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :email %>
  <%= f.email_field :email %><br>

  <%= f.submit "Create User" %>
<% end %>

<%= link_to "Back", users_path %>
<% @user.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>


<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> impidieron guardar el usuario:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
